@{
    ViewData["Title"] = "Contact Add/Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";

}


@model LOC_CON_ContactModel

@*<div class="row">
    <div class="col-md-12">
        <h2>@TempData["message"]</h2>
        &nbsp;
        <form method="post" asp-controller="LOC_CON_Contact" asp-action="Save">
            @Html.HiddenFor(x=>x.ContactID)
            <div class="from-group">
                <label>Country Name</label>
                <select class="form-control" asp-for="CountryID" asp-items="@(new SelectList(ViewBag.LOC_CountryList,"CountryID","CountryName"))" onchange="(stateChange())">
                    <option value="">Select Country</option>
                </select>
            </div>
            <div class="from-group">
                <label>State Name</label>
                <select class="form-control" asp-for="StateID" asp-items="@(new SelectList(ViewBag.LOC_StateList,"StateID","StateName"))" onchange="(cityChange())">
                    <option value="">Select State</option>
                </select>
            </div>
            <div class="from-group">
                <label>City Name</label>
                <select class="form-control" asp-for="CityID" asp-items="@(new SelectList(ViewBag.LOC_CityList,"CityID","CityName"))">
                    <option value="">Select City</option>
                </select>
            </div>
            <div class="from-group">
                <label>ContactCategory Name</label>
                <select class="form-control" asp-for="ContactCategoryID" asp-items="@(new SelectList(ViewBag.LOC_ContactCategoryList,"ContactCategoryID","ContactCategoryName"))">
                    <option value="">Select ContactCategory</option>
                </select>
            </div>
            <div class="from-group">
                <label>Contact Name</label>
                <input type="text" class="from-Control" placeholder="Enter Contact Name" asp-for="ContactName" />
            </div>
           
            <div class="from-group">
                <label>Address</label>
                <input type="text" class="from-Control" placeholder="Enter Address" asp-for="Address" />
            </div>
            <div class="from-group">
                <label>PinCode</label>
                <input type="text" class="from-Control" placeholder="Enter  PinCode" asp-for="PinCode" />
            </div>
            <div class="from-group">
                <label>Mobile</label>
                <input type="text" class="from-Control" placeholder="Enter Contact Mobile" asp-for="Mobile" />
            </div>
            <div class="from-group">
                <label>AlternetContact</label>
                <input type="text" class="from-Control" placeholder="Enter Contact AlternetContact" asp-for="AlternetContact" />
            </div>
            <div class="from-group">
                <label>Email</label>
                <input type="text" class="from-Control" placeholder="Enter Contact Email" asp-for="Email" />
            </div>
            <div class="from-group">
                <label>BirthDate</label>
                <input type="text" class="from-Control" placeholder="Enter BirthDate" asp-for="BirthDate" />
            </div>
            <div class="from-group">
                <label>LinkedIn</label>
                <input type="text" class="from-Control" placeholder="Enter LinkedIn" asp-for="LinkedIn" />
            </div>
            <div class="from-group">
                <label>Twitter</label>
                <input type="text" class="from-Control" placeholder="Enter Twitter" asp-for="Twitter" />
            </div>
            <div class="from-group">
                <label>Insta</label>
                <input type="text" class="from-Control" placeholder="Enter Insta" asp-for="Insta" />
            </div>
            <div class="from-group">
                <label>Creation Date</label>
                <input type="date" class="from-Control" placeholder="Enter Creation Date" asp-for="CreationDate" />
            </div>
            <div class="from-group">
                <label>Modification Date</label>
                <input type="date" class="from-Control" placeholder="Enter Modification Date" asp-for="ModificationDate" />
            </div>
            </hr>
            <input type="submit" />
            <button asp-controller="LOC_CON_Contact" asp-action="Add">Clear</button>
            <button asp-controller="LOC_CON_Contact" asp-action="Index">Back to ContactList</button>
        </form>
    </div>

</div>*@


<style>
    .btn.btn-a {
        text-decoration: none;
        background-color: #000000;
        color: #ffffff;
    }

        .btn.btn-a:hover {
            background-color: #2eca6a;
            color: #000000;
        }

    .btn.btn-b {
        text-decoration: none;
        background-color: #000000;
        color: #ffffff;
    }

        .btn.btn-b:hover {
            background-color: rgba(255,0,0, 1);
            color: #ffffff;
        }
</style>

<section class="intro-single">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-8">
                <div class="title-single-box">
                    <h1 class="title-single">Contact Add Edit</h1>
                </div>
            </div>
            <div class="col-md-12 col-lg-4">
                <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a asp-action="Index" asp-controller="LOC_CON_Contact"><i class="fa-regular fa-address-book"></i> Contact List</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">
                            Contact Add Edit
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
        <hr />
        <br />
        <br />
    </div>


    <div class="container">
        <h5 style="color:green"><label>@TempData["message"]</label></h5>
        <br />
        <form method="post" asp-controller="LOC_CON_Contact" asp-action="Save">
            @Html.HiddenFor(x=>x.ContactID)
            <div class="row">

                <div class="col-md-2">
                    <span style="color: #ff0000">*</span>
                    Country ID :-
                </div>
                <div class="col-md-3">
                    <select asp-for="CountryID" asp-items="@(new SelectList(ViewBag.LOC_CountryList,"CountryID","CountryName"))" class="form-control" onchange="stateChange()">
                        <option value="">Select Country</option>
                    </select>
                </div>
                <div class="col-md-1">
                </div>
                <div class="col-md-2">
                    <span style="color: #ff0000">*</span>
                    State  :-
                </div>
                <div class="col-md-3">
                    <select asp-for="StateID" asp-items="@(new SelectList(ViewBag.LOC_StateList,"StateID","StateName"))" class="form-control" onchange="cityChange()">
                        <option value="">Select State</option>
                    </select>
                </div>
            </div>
            <br />

            <div class="row">

                <div class="col-md-2">
                    <span style="color: #ff0000">*</span>
                    City ID :-
                </div>
                <div class="col-md-3">
                    <select asp-for="CityID" asp-items="@(new SelectList(ViewBag.LOC_CityList,"CityID","CityName"))" class="form-control">
                        <option value="">Select City</option>
                    </select>
                </div>
                <div class="col-md-1">
                </div>
                <div class="col-md-2">
                    <span style="color: #ff0000">*</span>
                    ContactCategory ID :-
                </div>
                <div class="col-md-3">
                    <select asp-for="ContactCategoryID" asp-items="@(new SelectList(ViewBag.LOC_ContactCategoryList,"ContactCategoryID","ContactCategoryName"))" class="form-control">
                        <option value="">Select ContactCategory</option>
                    </select>
                </div>
            </div>
            <br />

            <div class="row">

                <div class="col-md-2">
                    <span style="color: #ff0000">*</span>
                    Contact Name :-
                </div>
                <div class="col-md-3">
                    <input type="text" placeholder="Enter Contact Name" asp-for="ContactName" class="form-control" />
                </div>
                <div class="col-md-1">
                </div>
                <div class="col-md-2">
                    <span style="color: #ff0000">*</span>
                    Address :-
                </div>
                <div class="col-md-3">
                    <input type="text" placeholder="Enter Address" asp-for="Address" class="form-control" />
                </div>
            </div>
            <br />


            <div class="row">

                <div class="col-md-2">
                    <span style="color: #ff0000">*</span>
                    Pin Code :-
                </div>
                <div class="col-md-3">
                    <input type="text" placeholder="Enter PinCode" asp-for="PinCode" class="form-control" />
                </div>
                <div class="col-md-1">
                </div>
                <div class="col-md-2">
                    <span style="color: #ff0000">*</span>
                    Mobile No :-
                </div>
                <div class="col-md-3">
                    <input type="text" placeholder="Enter Mobile No" asp-for="Mobile" class="form-control" />
                </div>
            </div>

            <br />


            <div class="row">

                <div class="col-md-2">
                    Alternet Contact :-
                </div>
                <div class="col-md-3">
                    <input type="text" placeholder="Enter Alternet Contact" asp-for="AlternetContact" class="form-control" />
                </div>
                <div class="col-md-1">
                </div>
                <div class="col-md-2">
                    <span style="color: #ff0000">*</span>
                    Email :-
                </div>
                <div class="col-md-3">
                    <input type="email" placeholder="Enter Email" asp-for="Email" class="form-control" />
                </div>
            </div>
            <br />
            <div class="row">

                <div class="col-md-2">
                    Birth Date :-
                </div>
                <div class="col-md-3">
                    <input type="date" placeholder="Enter Birth Date" asp-for="BirthDate" class="form-control" />
                </div>
                <div class="col-md-1">
                </div>
                <div class="col-md-2">
                    LinkedIn :-
                </div>
                <div class="col-md-3">
                    <input type="text" placeholder="Enter LinkedIn Id" asp-for="LinkedIn" class="form-control" />
                </div>
            </div>
            <br />
            <div class="row">

                <div class="col-md-2">
                    Twitter :-
                </div>
                <div class="col-md-3">
                    <input type="text" placeholder="Enter Twitter Id" asp-for="Twitter" class="form-control" />
                </div>
                <div class="col-md-1">
                </div>
                <div class="col-md-2">
                    Insta :-
                </div>
                <div class="col-md-3">
                    <input type="text" placeholder="Enter Instagram Id" asp-for="Insta" class="form-control" />
                </div>
            </div>
            <br />
            <div class="row">

                @*<div class="col-md-2">
                    Gender :-
                </div>
                <div class="col-md-3">
                    <input type="text" placeholder="Enter Gender" asp-for="Gender" class="form-control" />
                </div>*@
                <div class="col-md-2">
                    <span style="color: #ff0000">*</span>
                    Modification Date :-
                </div>
                <div class="col-md-3">
                    <input type="date" placeholder="Enter Modification Date" asp-for="ModificationDate" class="form-control" />
                </div>
                <div class="col-md-1">
                </div>
                <div class="col-md-2">
                    <span style="color: #ff0000">*</span>
                    Creation Date :-
                </div>
                <div class="col-md-3">
                    <input type="date" placeholder="Enter Creation Date" asp-for="CreationDate" class="form-control" />
                </div>
            </div>
            <br />
            <div class="row">
                @*<div class="col-md-2">
                    <span style="color: #ff0000">*</span>
                    Modification Date :-
                </div>
                <div class="col-md-3">
                    <input type="date" placeholder="Enter Modification Date" asp-for="ModificationDate" class="form-control" />
                </div>*@

            </div>
            <br />
            <div class="row">
                <div class="col-md-5">
                </div>
                <div class="col-md-1">
                    <input type="submit" value="Save" asp-controller="LOC_CON_Contact" asp-action="Save" class="btn btn-a" />
                </div>

                <div class="col-md-1">
                    <input type="submit" value="Cancel" asp-controller="LOC_CON_Contact" asp-action="Index" class="btn btn-b" />
                </div>
            </div>
        </form>

    </div>
</section>

<script>
    function stateChange() {
        var CountryID = $("#CountryID").val();

        if (CountryID !== "") {
            $("#StateID").empty();
            $("#StateID").append($("<option></option>").val("").html("Select State"));
            $.ajax(
                {
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    url: "@Url.Action("DropDownByState","LOC_City")" + "?&CountryID=" + CountryID,
                    data: {},
                    dataType: "json",
                    success: function (Result) {
                        $.each(Result,
                            function (key, value) {
                                $("#StateID").append($("<option></option>").val(value.stateID).html(value.stateName));
                            });
                    },
                    error: function (r) {
                        alert("Error while loading combobox.");
                    }
                });
        } else {
            $("#StateID").empty();
            $("#StateID").append($("<option></option>").val("").html("Select State"));

        }
    }
</script>

<script>
    function cityChange() {
        var StateID = $("#StateID").val();

        if (StateID !== "") {
            $("#CityID").empty();
            $("#CityID").append($("<option></option>").val("").html("Select City"));
            $.ajax(
                {
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    url: "@Url.Action("DropDownByCity","LOC_CON_Contact")" + "?&StateID=" + StateID,
                    data: {},
                    dataType: "json",
                    success: function (Result) {
                        $.each(Result,
                            function (key, value) {
                                $("#CityID").append($("<option></option>").val(value.cityID).html(value.cityName));
                            });
                    },
                    error: function (r) {
                        alert("Error while loading combobox.");
                    }
                });
        } else {
            $("#CityID").empty();
            $("#CityID").append($("<option></option>").val("").html("Select City"));

        }
    }
</script>