@{
    ViewData["Title"] = "City Add/Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";

}


@model LOC_CityModel

@*<div class="row">
    <div class="col-md-12">
        <h2>@TempData["message"]</h2>
        &nbsp;
        <form method="post" asp-controller="LOC_City" asp-action="Save">
            @Html.HiddenFor(x=>x.CityID)
            <div class="from-group">
                <label>Country Name</label>
                <select class="form-control" asp-for="CountryID" asp-items="@(new SelectList(ViewBag.CountryList,"CountryID","CountryName"))" onchange="(stateChange())">
                    <option value="">Select Country</option>
                </select>
            </div>
            <div class="from-group">
                <label>State Name</label>
                <select class="form-control" asp-for="StateID" asp-items="@(new SelectList(ViewBag.StateList,"StateID","StateName"))">
                    <option value="">Select State</option>
                </select>
            </div>
            <div class="from-group">
                <label>City Name</label>
                <input type="text" class="from-Control" placeholder="Enter City Name" asp-for="CityName" />
            </div>
            <div class="from-group">
                <label>City Code</label>
                <input type="text" class="from-Control" placeholder="Enter City PinCode" asp-for="PinCode" />
            </div>

            <div class="from-group">
                <label>Creation Date</label>
                <input type="date" class="from-Control" placeholder="Enter Creation Date" asp-for="CreationDate" />
            </div>
            <div class="from-group">
                <label>Modification Date</label>
                <input type="date" class="from-Control" placeholder="Enter Modification Date" asp-for="ModificationDate" />
            </div>
            </hr>
            <input type="submit" />
            <button asp-controller="LOC_City" asp-action="Add">Clear</button>
            <button asp-controller="LOC_City" asp-action="Index">Back to CityList</button>
        </form>
    </div>

</div>*@

<style>
    .btn.btn-a {
        text-decoration: none;
        background-color: #000000;
        color: #ffffff;
    }

        .btn.btn-a:hover {
            background-color: #2eca6a;
            color: #000000;
        }

    .btn.btn-b {
        text-decoration: none;
        background-color: #000000;
        color: #ffffff;
    }

        .btn.btn-b:hover {
            background-color: rgba(255,0,0, 1);
            color: #ffffff;
        }
</style>

<section class="intro-single">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-8">
                <div class="title-single-box">
                    <h1 class="title-single">City Add Edit</h1>
                </div>
            </div>
            <div class="col-md-12 col-lg-4">
                <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a asp-action="Index" asp-controller="LOC_City"><i class="fa-regular fa-address-book"></i> City List</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">
                            City Add Edit
                        </li>
                    </ol>
                </nav>
            </div>
        </div>

        <hr />
        <br />
        <br />
    </div>


    <div class="container">
        <h5 style="color:green"><label>@TempData["message"]</label></h5>
        <br />
        <form method="post" asp-controller="LOC_City" asp-action="Save">
            @Html.HiddenFor(x=>x.CityID)

            <div class="row">
                <div class="col-md-2">
                    <span style="color: #ff0000">*</span>
                    Country :-
                </div>
                <div class="col-md-3">
                    <select asp-for="CountryID" asp-items="@(new SelectList(ViewBag.CountryList,"CountryID","CountryName"))" class="form-control" onchange="stateChange()">
                        <option value="">Select Country</option>
                    </select>
                    <span asp-validation-for="CountryID" class="text-danger"></span>
                </div>
                <div class="col-md-1">
                </div>
                <div class="col-md-2">
                    <span style="color: #ff0000">*</span>
                    State  :-
                </div>
                <div class="col-md-3">
                    <select asp-for="StateID" asp-items="@(new SelectList(ViewBag.StateList,"StateID","StateName"))" class="form-control">
                        <option value="">Select State</option>
                    </select>
                    <span asp-validation-for="StateID" class="text-danger"></span>
                </div>
            </div>
            <br />


            <div class="row">


                <div class="col-md-2">
                    <span style="color: #ff0000">*</span>
                    City Name :-
                </div>
                <div class="col-md-3">
                    <input type="text" placeholder="Enter City Name" asp-for="CityName" class="form-control" />
                    <span asp-validation-for="CityName" class="text-danger"></span>
                </div>
                <div class="col-md-1">
                </div>
                <div class="col-md-2">
                    <span style="color: #ff0000">*</span>
                    Pin Code :-
                </div>
                <div class="col-md-3">
                    <input type="text" placeholder="Enter Pin Code" asp-for="PinCode" class="form-control" />
                    <span asp-validation-for="PinCode" class="text-danger"></span>
                </div>
            </div>
            <br />

            <div class="row">
                <div class="col-md-2">
                    Creation Date :-
                </div>
                <div class="col-md-3">
                    <input type="date" placeholder="Enter Creation Date" asp-for="CreationDate" class="form-control" />
                </div>
                <div class="col-md-1">
                </div>
                <div class="col-md-2">
                    Modification Date :-
                </div>
                <div class="col-md-3">
                    <input type="date" placeholder="Enter Modification Date" asp-for="ModificationDate" class="form-control" />
                </div>
            </div>
            <br />


            <div class="row">
                <div class="col-md-4">
                </div>
                <div class="col-md-1">
                    <input type="submit" value="Save" asp-controller="LOC_City" asp-action="Save" class="btn btn-a" />
                </div>
                <div class="col-md-1">
                </div>
                <div class="col-md-1">
                    <input type="submit" value="Cancel" asp-controller="LOC_City" asp-action="Index" class="btn btn-b" />
                </div>
            </div>
        </form>

    </div>
</section>

<script>
    function stateChange() {
        var CountryID = $("#CountryID").val();

        if (CountryID !== "") {
            $("#StateID").empty();
            $("#StateID").append($("<option></option>").val("").html("Select State"));

            $.ajax(
                {
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    url: "@Url.Action("DropDownByState","LOC_City")" + "?&CountryID=" + CountryID,
                    data: {},
                    dataType: "json",
                    success: function (Result) {
                        $.each(Result,
                            function (key, value) {
                                $("#StateID").append($("<option></option>").val(value.stateID).html(value.stateName));
                            });
                    },
                    error: function (r) {
                        alert("Error while loading combobox.");
                    }
                });
        } else {
            $("#StateID").empty();
            $("#StateID").append($("<option></option>").val("").html("Select State"));

        }
    }
</script>

@section Scripts {

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

                             